.wbdv-sticky-nav-bar{
    width:100%;
    color:white;
    font-size:22px;
}

li{
    margin-bottom: 10px;
    margin-left:15px;
}


.nav-pills .nav-items.nav-link:not(.active) {
    color:white;
}

.nav-pills .nav-items .nav-link:active {
    color: white;
}

.side_bar{
    background-color:dimgrey;
    padding:20px;
}



